
body, p, h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #000000;
}

img {
    width: 100%;
    display: block;
}

a, button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    display: flex;
    background-color: #080A0B;
}

.section--newsletter {
    padding: 50px 0 0;
}

.section__header {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
    margin-bottom: 70px;
}

.section__header--quotes {
    margin-bottom: 50px;
}

.section__header--newsletter {
    margin-bottom: 40px;
}

.section__suptitle {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 50px 0 10px;
}

.section__title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1A1917;
    padding: 20px 15px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#FFB548, #d6941b);
    justify-content: center; 
    align-items: center;    
    text-align: center;      
    gap: 10px;      
}

.btn:hover {
    background: linear-gradient(#ffb241, #c38412);
}

.btn:focus {
    outline: none;
}

.quotes__mask {
    width: 100%;
    height: 100%;
    padding: 160px 0 140px;
    background:#080A0B;
}

.quotes__inner {
    display: flex;
    justify-content: space-between;
}

.quotes__col {
    width: 35%;
}

.quotes__col:last-child {
    width: 60%;
}

.quotes__text {
    margin-bottom: 40px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.reviews__card {
    width: 453px;
    padding: 16px 20px 20px 16px;
    margin: 0 0 30px auto;
    border-radius: 10px;
    background-color: #1A1C1C;
}

.reviews__card:nth-child(2) {
    margin-right: 145px;
}

.reviews__card:nth-child(3) {
    margin-right: 40px;
}

.reviews__card__header {
    display: flex;
    margin-bottom: 22px;
    align-items: center;
}

.reviews__author-icon {
    width: 64px;
    height: 64px;
    margin: 0 22px 0 8px;
    background-color: #FFB548;
    border-radius: 50%;
}

.reviews__author-icon img {
    transform: translate(-10px, -4px);
    border-radius: 50%;
}

.reviews__author-name {
    margin-right: auto;
}

.reviews__title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2px;
    color: #FFB548;
}

.reviews__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}


.reviews__card__text {
    line-height: 1.4;
    width: 90%;
    margin-bottom: 10px;
}

.reviews__date {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    opacity: .5;
}
.newsletter__inner {
    display: flex;
    justify-content: space-between;
}

.newsletter__col {
    width: 37%;
}

.newsletter__col:last-child {
    width: 55%;
    margin: auto 0;
}

.newsletter__image {
    position: relative;
    margin-left: 40px;
}

.newsletter__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.newsletter__text {
    margin-bottom: 55px;
}

.subscribe__form1 {
    display: flex;
    position: relative;
}

.subscribe__form2 {
    display: none;
    position: relative;
}

.subscribe__input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 22px 20px 10px;
    border: 1px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .08);
    font-size: 18px;
    color: #FFB548;
    line-height: 1.4;
}

.subscribe__input:focus {
    outline: none;
    border: 1px solid #FFB548;
}

.subscribe__label {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.4;
    position: absolute;
    top: 6px;
    left: 21px;
}
.footer {
    background-color: #080A0B;
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 15px;
}

.footer__logo {
    width: 55px;
    height: 55px;
}

.nav--footer {
    align-items: flex-end;
}

.nav__link--footer {
    padding-bottom: 0;
    border-bottom: none;
    border-top: 3px ;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 1.2px;
    margin-right: 40px;
}

.nav__link--footer:hover {
    border-top: 3px solid #fff;
    border-bottom: none;
}

.footer__icons {
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding-left: 20px;
}

.footer__link {
    margin-right: 60px;
}

.footer__link:nth-child(1):hover {
    color: #4267B2;
}

.footer__link:nth-child(2):hover {
    color: #1DA1F2;
}

.footer__link:nth-child(3):hover {
    color: #FF0000;
}

.footer__link:nth-child(4):hover {
    color: #6441A4;
}

.footer__link:last-child {
    margin: 0;
}

.footer__icon {
    font-size: 28px;
    color: #fff;
    margin-right: 15px;
}

.footer__icon:hover {
    color: #e52525;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 55px;
}

.copyright__text {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .5);
}
