body{
  margin: 0;
    width: 1440px;
    height: 960px;
}

.hero-section{
    position: relative;
    width: 1440px;
    height: 960px;
    background-image: url(assets/fon1.svg);
}
.logo-container{
    display: flex;
    justify-content: left;
    border-left: 121px;
    width: 55px;
    padding-right: 146px;
}
.nav-links{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.container{
    max-width: 1130px;
    margin: 0 auto;
}
.left-header-section{
    display: flex;
    align-items: center;
}
.language-switcher{
    background: none;
    padding: 0;
    border: none;
    color: white;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    
}
.language-icon{
    max-width: 13px;
    max-height: 13px;
    padding-left: 6px;
    padding-right:23px ;
    border-right: #FFFFFF solid 0.3px;
    border-width: 0.87px;
    padding-bottom: 0px;
}
.nav-links a{
    margin-right: 24px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    border-left:147px; 
}
.nav-links{
    align-items: center;
    border-left:147px; 

}
.nav-items{
    display: flex;
    padding-left: 0;
    gap: 20px;
    justify-content: space-between;
    padding-left: 24px;
}
.header-content{
    display: flex;
    padding: 44px;
}
.main-heading-container{
    width: fit-content;
    margin: 0 auto;
    padding-top: 211px;
}
.main-heading{
    padding-top: 49px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 80px;
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 3px;
    font-family: "Bebas Neue", sans-serif;
    height: 73px;
    padding-bottom: 30px;
}
.price-container{
    display: flex;
    align-items: baseline;
}
.subheading{
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    padding-bottom: 30px;
}
.price-info{
    color: #FFFFFF;
    margin-top: -50px;
    
}
.price-divider{
    border-left: 1px solid;
    padding-left: 14px;
    margin-left:11px;
    margin-right:16px ;
}
.cta-button{
    padding: 0;
    width: 260px;
    margin: 0 auto;
    background-color:#F3AF34 ;
    color:black;
    font-weight: bold;
    border: none;
    padding:0;
    height: 60px;
    Border-radius:5px;
}
.scroll-button{
    background: none;
    border: none;
    width: fit-content;
    margin: 0 auto;
    padding-left: 555px;
    font-weight: bold;
}
.scroll-label{
    color: #FFFFFF;
    width: fit-content;
    margin: 0 auto;
    padding-top: 530px;
    font-weight: bold;
}

.about-section{
    position: relative;
    width: 1440px;
    height: 960px;
    background-image: url(assets/fon2.svg);
}

.about-image{
    padding-right: 0;
    margin-right: 0;
    padding-top: 213px;

}
.section-heading{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 80px;
    padding-top: 0;
    max-width: 410px;
    margin-top: 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 0;
    border-bottom: 3px solid white;
    padding-right: 270px;
}
.about-section{
    padding-top: 0px;
}
.section-subheading{
    font-family: "Bebas Neue", sans-serif;
    color: #FFFFFF;

    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 9px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 256px;
}
.about-text{
    width: 364px;
    color: #FFFFFF;
    font-size: 18px ;
    padding-left: 308px;
    font-weight: mixed;
    line-height: 22px;
    letter-spacing: 0px;
    font-family: "Open Sans", sans-serif;
}
.game-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0; 
  padding: 0; 
}

.game-section .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 5760px;
  position: relative;
}

.game-section .system-req-section {
  position: absolute;
  width: 1442px;
  height: 960px;
  top: 2880px;
  left: 0;
}

.game-section .system-req-container {
  position: relative;
  width: 1440px;
  height: 960px;
  background-image: url(assets/KART2.svg);
}

.game-section .system-req-content {
  position: absolute;
  width: 593px;
  height: 401px;
  top: 388px;
  left: 120px;
}

.game-section .system-req-card {
  position: relative;
  width: 574px;
  height: 402px;
  background-image: url(assets/table.svg);
}

.game-section .gpu-spec {
  position: absolute;
  width: 514px;
  top: 300px;
  left: 11px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .gpu-label {
  position: absolute;
  width: 262px;
  top: 277px;
  left: 11px;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .storage-spec {
  position: absolute;
  width: 192px;
  top: 176px;
  left: 296px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .storage-label {
  position: absolute;
  width: 262px;
  top: 141px;
  left: 296px;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .ram-spec {
  position: absolute;
  width: 119px;
  top: 176px;
  left: 11px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .ram-label {
  position: absolute;
  width: 262px;
  top: 141px;
  left: 11px;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .cpu-spec {
  position: absolute;
  width: 258px;
  top: 49px;
  left: 296px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .cpu-label {
  position: absolute;
  width: 262px;
  top: 15px;
  left: 296px;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .os-spec {
  position: absolute;
  width: 258px;
  top: 50px;
  left: 20px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .os-label {
  position: absolute;
  width: 262px;
  top: 15px;
  left: 20px;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .section-main-title {
  width: 633px;
  top: 181px;
  left: 330px;
  white-space: nowrap;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 3.00px;
  line-height: normal;
}

.game-section .section-subtitle {
  width: 353px;
  top: 120px;
  left: 475px;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .features-container {
  position: relative;
  width: 1440px;
  height: 960px;
  background-image: url(assets/KART1.svg);
}

.game-section .feature-item-1 {
  width: 348px;
  top: 662px;
  left: 842px;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 36px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .feature-bullet-1 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 671px;
  left: 795px;
  border-radius: 7.65px;
  border: 1.31px solid;
  border-color: #ffffff;
  transform: rotate(90deg);
}

.game-section .features-content {
  position: absolute;
  width: 414px;
  height: 187px;
  top: 439px;
  left: 795px;
}

.game-section .feature-item-2 {
  width: 366px;
  top: 149px;
  left: 47px;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 36px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .features-highlight {
  position: absolute;
  width: 363px;
  height: 171px;
  top: 0;
  left: 0;
}

.game-section .feature-bullet-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 155px;
  left: 0;
}

.game-section .feature-connector {
  position: absolute;
  width: 2px;
  height: 141px;
  top: 15px;
  left: 7px;
}

.game-section .feature-item-3 {
  width: 348px;
  top: 0;
  left: 16px;
  text-align: center;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffb548;
  font-size: 36px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.game-section .feature-bullet-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 0;
}

.game-section .feature-description {
  position: absolute;
  width: 363px;
  top: 43px;
  left: 50px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 22px;
}

.game-section .features-main-title {
  width: 412px;
  top: 294px;
  left: 797px;
  white-space: nowrap;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  letter-spacing: 3.00px;
  line-height: normal;
}

.game-section .features-subtitle {
  width: 262px;
  top: 258px;
  left: 801px;
  position: absolute;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

img {
    width: 100%;
    display: block;
}

a, button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    display: flex;
    background-color: #080A0B;
}

.section--newsletter {
    padding: 50px 0 0;
}

.section__header {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
    margin-bottom: 70px;
}

.section__header--quotes {
    margin-bottom: 50px;
}

.section__header--newsletter {
    margin-bottom: 40px;
}

.section__suptitle {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 50px 0 10px;
}

.section__title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1A1917;
    padding: 20px 15px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#FFB548, #d6941b);
    justify-content: center; 
    align-items: center;    
    text-align: center;      
    gap: 10px;      
}

.btn:hover {
    background: linear-gradient(#ffb241, #c38412);
}

.btn:focus {
    outline: none;
}

.quotes__mask {
    width: 100%;
    height: 100%;
    padding: 160px 0 140px;
    background:#080A0B;
}

.quotes__inner {
    display: flex;
    justify-content: space-between;
}

.quotes__col {
    width: 35%;
}

.quotes__col:last-child {
    width: 60%;
}

.quotes__text {
    margin-bottom: 40px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.reviews__card {
    width: 453px;
    padding: 16px 20px 20px 16px;
    margin: 0 0 30px auto;
    border-radius: 10px;
    background-color: #1A1C1C;
}

.reviews__card:nth-child(2) {
    margin-right: 145px;
}

.reviews__card:nth-child(3) {
    margin-right: 40px;
}

.reviews__card__header {
    display: flex;
    margin-bottom: 22px;
    align-items: center;
}

.reviews__author-icon {
    width: 64px;
    height: 64px;
    margin: 0 22px 0 8px;
    background-color: #FFB548;
    border-radius: 50%;
}

.reviews__author-icon img {
    transform: translate(-10px, -4px);
    border-radius: 50%;
}

.reviews__author-name {
    margin-right: auto;
}

.reviews__title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2px;
    color: #FFB548;
}

.reviews__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}


.reviews__card__text {
    line-height: 1.4;
    width: 90%;
    margin-bottom: 10px;
}

.reviews__date {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    opacity: .5;
}
.newsletter__inner {
    display: flex;
    justify-content: space-between;
}

.newsletter__col {
    width: 37%;
}

.newsletter__col:last-child {
    width: 55%;
    margin: auto 0;
}

.newsletter__image {
    position: relative;
    margin-left: 40px;
}

.newsletter__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.newsletter__text {
    margin-bottom: 55px;
}

.subscribe__form1 {
    display: flex;
    position: relative;
}

.subscribe__form2 {
    display: none;
    position: relative;
}

.subscribe__input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 22px 20px 10px;
    border: 1px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .08);
    font-size: 18px;
    color: #FFB548;
    line-height: 1.4;
}

.subscribe__input:focus {
    outline: none;
    border: 1px solid #FFB548;
}

.subscribe__label {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.4;
    position: absolute;
    top: 6px;
    left: 21px;
}
.footer {
    background-color: #080A0B;
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 15px;
}

.footer__logo {
    width: 90px;
    
}

.nav--footer {
    align-items: flex-end;
    margin-top: 50px;
}

.nav__link--footer {
    padding-bottom: 0;
    border-bottom: none;
    border-top: 3px ;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 1.2px;
    margin-right: 40px;
}

.nav__link--footer:hover {
    border-top: 3px solid #fff;
    border-bottom: none;
}

.footer__icons {
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding-left: 20px;
}

.footer__link {
    margin-right: 60px;
}

.footer__link:nth-child(1):hover {
    color: #4267B2;
}

.footer__link:nth-child(2):hover {
    color: #1DA1F2;
}

.footer__link:nth-child(3):hover {
    color: #FF0000;
}

.footer__link:nth-child(4):hover {
    color: #6441A4;
}

.footer__link:last-child {
    margin: 0;
}

.footer__icon {
    font-size: 28px;
    color: #fff;
    margin-right: 15px;
}

.footer__icon:hover {
    color: #e52525;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 55px;
}

.copyright__text {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .5);
}
body, p, h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #000000;
    
}